@import "tailwindcss/base";
@import "tailwindcss/components";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-yellow-400 font-sans;
}

button {
  @apply px-4 py-2 rounded-lg bg-casino-green text-white text-lg;
}
